/* 
 * 
 * $Buttons
 *
**/

.button {
	float: left;
    padding:3px 12px;
    color:@button-text;
    font-size:11px;
    background:@button;
    border:0;
    cursor:pointer;
}

.button-play {
    margin:0 auto;
    padding:0;
    display:block;
    width:18px;
    height:18px;
    border:0;
    background-color:@button-dashboard;
    cursor:pointer;
    &:hover {
        background-color:@button-dashboard-hover;
    }
}

.button--neighbour {
    margin-left:2px;
}

.button--right {
    float:right;
}