/* 
 * 
 * $Forms
 *
**/

#content-main {	
		position: relative;
	form {
		float:left;
		width: 100%;

		input,
		label {
			float: left;
		}
		label {
			clear: both;
			font-weight: bold;
			text-align: left;
			width: 60px;
			padding-right: 20px;
		}
		input {
			height: 11px;
			padding: 3px;
			.borderline;
			width: 138px;
			margin-right: 10px;
			font-size: 10px;
			
			&:focus {
				border: 1px solid @black;
			}
			
			&#surname {
				margin-right: 0;
			}
		}
		.address-container {
			float: left;
			width: 100%;
			margin-bottom: 5px;
			input {
				float: right;
				width: 74.3%;
				margin: 0 24px 10px 0;
			}
		}
		.form-content,
		.form-field {
			clear: both;
			float: left;
			width: 100%;
		}
		.form-field {
			margin-bottom: 15px;
		}
				
		/* Form Footer */
		.standard-box-footer {
			input[type="submit"] {
				float: left;
				display: inline;
				height: auto;
				width: auto;
				.standard-button;
			}
		}	
	}
	
	.opt-in-checkbox-container {	
		clear: both;
		width: 100%;
		.opt-in-checkbox {
			clear: both;
			float: left;
			width: 100%;
			margin-bottom: 5px;
			label {
				float: left;
				display: inline;
				width: 30%;
				text-align: left;
				color: @opt-in-text;
				font-weight: normal;
				margin-bottom: 5px;
				padding-right: 5px;
				line-height: 1.3em;
			}
			input {
				float: left;
				width: auto;
				margin-top: 1px;
				height: auto;
			}
		}
	}
}


/*Form Field - wrap fields in this container to separate them*/
.form-field {
	float:left;
	width:100%;
	padding-bottom:10px;
}


/*Login Form*/
.form-login {
	padding:30px 20px;
	.clearfix();
	a {
		&:visited,
		&:active,
		&:hover {
			color:@form-interact;
			text-decoration:underline;
		}
	}
}
.form-login--label {
	float:left;
	width:30%;
	font-size:11px;
	margin-right:2%;
}
.form-login--input {
	float:right;
	width:57.5%;
	height: 9px;
	padding: 5px 4px;
	font-size: 9px;
	.borderline;
}
.form-login--forgotten-pw {
	margin-right: 9px;
}
.form-login--submit {
	float: right; 
	height: 30px;
    height: auto; 
    width: auto;
    background: #003366; 
    padding: 3px 12px;
    font-size: 11px;
    color: #ffffff; 
    border: 0;
}