/*=========== */
/* Icons      */
/*=========== */

.icon-arrow,
.icon-empty-box,
.icon-portrait-logged-out,
.icon-portrait-logged-in {
	display: block;
	width: 16px;
	height: 16px;	
	background: url(../images/icons/drive-smarter-icon-sprite.gif) 0 0 no-repeat;
	text-indent: -99999px;
}

/* Arrow Icons */
.icon-arrow {
	float: left;
	margin: 3px 3px 0 0;
	background-position: 0 0;
}
.icon-empty-box {
	float: left;
	background-position: 0 -16px;
	margin: 3px 5px 0 0;	
}

/* Portrait Icons */
.icon-portrait-logged-out {background-position: -16px 0;}
.icon-portrait-logged-in {background-position: -32px 0;}	


.icon-tick {
	.image-replace(18px, 18px);
	background:url("@{base-image-url}/icons/icon-sprite-ticks.gif") 0 0 no-repeat;
	margin:0 auto;
}
.icon-tick-complete { background-position:0 0; }
.icon-tick-in-progress { background-position:-18px 0; }
.icon-tick-unstarted { background-position:-36px 0; }


.icon-arrow-right {
	.image-replace(18px, 18px);
	background:url("@{base-image-url}/icons/icon-arrow-right.png") 0 0 no-repeat;
}


.icon-pdf {
	.image-replace(18px, 18px);
	background:url("@{base-image-url}/icons/icon-pdf-small.png") 0 0 no-repeat;
}