/*
 *
 * $Temporary
 *
 * For hot fixes.
 * If you need to quickly apply something, do it here.
 * This can then be put into the proper LESS file later.
 *
**/


#content-main form .tree2
{
    color:#000000;
    width:270px;
}

#content-main form .tree2 li
{
    padding-top:10px;
}

#content-main .Question
{
    color:#000000;
}

#content-main form input:focus {
  border: 1px solid #000000;
}
#content-main form input#surname {
  margin-right: 0;
}
#content-main form .address-container {
  float: left;
  width: 100%;
}
#content-main form .address-container input {
  float: right;
  width: 74.3%;
  margin: 0 24px 10px 0;
}
#content-main form .form-content {
  float: left;
}

#content-main form .standard-box-footer input[type="submit"] {
  float: left;
  display: inline;
  height: auto;
  width: auto;
  background: #000000;
  padding: 3px 12px;
  color: #ffffff;
  border: 0;
  font-size: 11px;
}

#content-main .Question 
{
    font-size:12px;
    width:400px;
    color: #666666 ;
    margin-bottom:20px;
}

#content-main .MvcDynamicListFieldInputLabel {
  padding: 2px 1em 0 0;
  padding-left:10px;
  color: #666666;
  width:300px;
  font-size:12px;
}
#content-main input[type=radio], input.radio {
  margin: 2px 0 0 2px;
}

#content-main .MvcDynamicVertical
{
    padding-top:10px;
    width:450px;
}

#content-main .MvcDynamicVertical li
{
    padding-top:5px;
}

#content-main #Save
{
margin-right:235px;

}

#content-main #Next
{

}

#content-main #Back
{
    text-align:right;
    margin-right:10px;
}

#content-main .MvcDynamicFieldError
{
      font-size:12px;
      width:400px;
      clear: both;
      color:Red;
      font-weight:normal;
}