/*
 *
 * $Typography - Base font styles
 *
**/

/* Font Faces */
.font-arial { font-family:Arial, Helvetica, "Lucida Grande", sans-serif; }
.font-verdana { font-family:Verdana, Arial, Helvetica, "Lucida Grande", sans-serif; }

/* Common Text Sizes */
.type-xsmall { font-size:0.714em; } /*10px*/
.type-small { font-size:0.857em; } /*12px*/
.type-medium { font-size:1em; } /*14*/
.type-large { font-size:1.143em; } /*16px*/
.type-xlarge { font-size:1.714em; } /*24px*/

.type-giga { font-size:2em; } /*28px*/
.type-mega { font-size:2.429em; } /*34px*/


body {
    .font-verdana;
    font-size:14px; /* base font size */
   	line-height:1.4;
}

h1,h2,h3,h4,h5 {
	padding: 0 0 14px 0;
	color: @heading-text;
	line-height:1.4;
} 

h1{font-size:22px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4{font-size:10px;}
h5{font-size:10px;}

p,a {
	padding:0 0 14px 0;	
	font-size:11px;
	color:@body-text;
	line-height:1.4;
}
a {
	text-decoration: none;
}
form {
	font-size:11px;
}

ul,ol { padding:0 0 14px 0; }
li { list-style:disc; }
ol {
	padding-left: 40px;
	li {
		margin-bottom: 20px;
	}
	ol li {
		margin-bottom: 0;
	}
}	

/*Headings*/
.heading { color:@heading-text; }
.heading--bold { font-weight:bold; }
.heading--inline { float:left; }

/*Sub Heading*/
.sub-heading {
    .font-arial;
    .type-medium;
    color:@sub-heading;
    font-weight:bold;
    line-height:1;
    padding-bottom:8px;
}

/*Lead intro copy*/
.lead {
	p {
		font-size:15px;
	}
}
 
/* Breadcrumbs */
.breadcrumb {
    clear:both;
    float:left;
    padding-bottom:14px;
    .font-arial;
    .type-small;
    color:@breadcrumb;
    text-decoration:none;
    &:hover {
        color:@link-hover;
        text-decoration:underline;
    }
}

/*Login link*/
.login-help {
    float:right;
    line-height:1.8;
}

/* Custom Links */
.link-pdf {
    .font-arial;
    .type-small;
    color:@link-pdf;
    padding-bottom:0;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:bold;
    img {   
        float:left;
        width:16px;
        height:auto;
    }
    span {
        float:left;
        margin:3px 0 0 5px;
    }
}