/*
 *
 * $Typography - Base font styles
 *
**/

/* Font Faces */
.font-arial { font-family:Arial, Helvetica, "Lucida Grande", sans-serif; }

/* Common Text Sizes */
.type-xsmall { font-size:0.714em; } /*10px*/
.type-small { font-size:0.857em; } /*12px*/
.type-medium { font-size:1em; } /*14*/
.type-large { font-size:1.143em; } /*16px*/
.type-xlarge { font-size:1.286em; } /*18px*/


/* ==============
 * Type
 * =============*/

body {
    .font-arial;
    font-size:14px; /* base font size */
    background-color:@body;
}

a {
    text-decoration:underline;
    color:@body-text;
}

p {
    .type-small;
    padding:0 0 1em;
    color:@body-text;
    line-height:1.4;
}

sub,sup { .type-xsmall; }


h1,h2,h3,h4 {
    margin:0;
    padding-bottom:8px;
    color:@heading;
    line-height:1;
    font-weight:bold;
}

h1 { .type-xlarge; }
h2 { .type-large; }
h3 { .type-medium; }