/* 
 * 
 * $Colours
 *
**/

/*================*
 * Define colours
 *================*/

/* White */
@white: #fff; 

/* Black */
@black: #000;

/* Greys */
@grey-light: #f2f2f2;
@grey-soft: #999;
@grey-slate: #92959B;
@grey-mid: #797c82;
@grey-school: #666;
@grey-dark: #333;

/* Blues */
@blue-bright: #00adef;
@blue-vivid: #0099cc;
@blue-royal: #003366;
@blue-bright: #00ccff;

/*Reds*/
@red: #9f0002;
/*Greens*/
@green: #305e02;

/* Brand Colour  */
@brand-colour: @grey-slate;


/*============
 * Containers 
 * =========== */
@body: @grey-mid;
@page: @white;
@header-bg: @white;
@wrapper-bg: @white;
@sidebar-bg: @brand-colour;
@content-home: @white;

@standard-box-bg: @white;
@standard-box-bg-alt: @white;
@standard-box-bg-blank: @white;


/*==================== */
/* Primary Navigation  */
/*==================== */
@nav: @black;
@nav-highlight: @white;

@nav-text: @white;
@nav-text-highlight:@nav;


/*==================== */
/* Typography		   */
/*==================== */
@body-text: @grey-school;
@link-hover: @blue-bright;

@link: @heading;
@link-hover: @blue-bright;
@link-light: @white;
@link-light-hover: @blue-bright;

@heading-bg: @black;
@heading-text: @grey-school;
@heading-text-light: @white;

@heading: @blue-royal;
@sub-heading: @black;

@breadcrumb: @grey-mid;
@link-pdf: @black;


/*==================== */
/* Forms   			   */
/*==================== */
@opt-in-text: @white;
@form-interact: @black;

@form-label-strong: @grey-school;
@form-label-small: @grey-school;
@form-profile-input-border: @blue-vivid;
@required: @red;


/*==================== */
/* Users   			   */
/*==================== */
@user: @white;


/*================*
 * Lists
 *================*/
@detail-label: @white;
@detail-value: @detail-label;


/*==================== */
/* Buttons   		   */
/*==================== */
@button: @black;
@button-text: @white;


/*================*
 * Assistant
 *================*/
@assistant: @black;
@assistant-heading: @blue-bright;
@assistant-text: @white;
@assistant-link: @assistant-heading;


/*================*
 * Progress Bar
 *================*/
@progress-label: @grey-soft;


/*================*
 * Tables
 *================*/
@data-table-heading: @blue-royal;
@data-table-text: @body-text;
@data-table-divider: @data-table-heading;


/*==================*
 * Dashboard Module
 *==================*/
@dash-mod--heading: @blue-bright;
@dash-mod-border: @grey-mid;
@dash-mod-highlight: @blue-bright;
@dash-mod-action: @blue-royal;
@dash-mod--overlay-text: @white;

@complete: @green;
@incomplete: @red;


/*==================*
 * Notes
 *==================*/
@notes-heading: @blue-royal;


/*==================== */
/* Errors   		   */
/*==================== */
@error-text: @red;


/*==================== */
/* Footer			   */
/*==================== */
@footer-text: @white;
@footer-text-hover: @link-hover;
@footer-divider: @footer-text;