/* 
 * 
 * $Colours
 *
**/

/*================*
 * Define colours
 *================*/

/*Whites*/
@white: #fff;

/*Greys*/
@grey: #666;

/*================*
 * Containers
 *================*/
 @body: @white;



 /*================*
 * Typography
 *================*/
@body-text: @grey;
@heading: @grey;