/* 
 * 
 * $Base - Wrappers & Containers 
 *
**/

/* ==============
 * Containers
 * =============*/

body {
    background:url("@{base-image-url}/backgrounds/background-body.gif") 0 0 repeat-x @body;
}

.container {
    clear:both;
    display:block;
    margin:0 auto;
    max-width:940px;
    padding-left:5%;
    padding-right:5%;
    .clearfix();
}

.page {
    float:left;
    width:900px;
    padding:24px;
    background:@page;
}


section {
    float:left;
    width:100%;
}
.section--spaced {
    padding-bottom:30px;
}