/* Main Content Containers */
#content-main {
	float: left;
	display: inline-block;
	width: 476px;
	min-height: 188px;
	margin: 20px;
	.box-shadow;
}	

/* Home page Content box */
.content-home {
	width: 588px;
	background-color:@content-home;
	a.login-help {
		float: right;	
		font-size: 13px;
		font-weight: bold;
	}
}

/* Content for the Assessment pages */
.assessment {
	p {
		font-size: 15px;
		&.last-child {
			padding-bottom: 0;
		}
	}
}
.assessment--link {
	font-size:15px;
	text-decoration:underline;
}

.assessment-header {
	float:left;
	width:100%;
}
.assessment-body {
	float:left;
	width:100%;
}

/*Terms*/
.assessment--terms-list {
	float:left;
	width:100%;
	padding-bottom:20px;
}
.assessment--terms {
	float:left;
	width:100%;
	p {
		font-size:10px;
		line-height:1.8;
	}
}	

/*Status*/
.assessment-status {
	float:left;
}
.assessment-status--right {
	float:right;
}

.assessment-status--text {
	font-size:15px;
	line-height:1.4;
	text-decoration:underline;
}


/*Assessment List*/
.assessment-list {
	float:left;
	width:100%;
	list-style:none;
	padding:0 0 30px;
	li {
		float:left;
		width:100%;
		padding-bottom:2px;
		font-size:13px;
		color:@body-text;
	}
}
.assessment-list--label {
	float:left;
	width:34%;
	font-weight:bold;
}
.assessment-list--value {
	float:left;
	width:60%;
	padding-left:3%;
}