/* Main Content Containers */
#content-main {
	float: left;
	display: inline-block;
	width: 476px;
	min-height: 188px;
	margin: 20px;
	.box-shadow;
}	

/* Home page Content box */
.content-home {
	width: 588px;
	background-color:@content-home;
	a.login-help {
		float: right;	
		font-size: 13px;
		font-weight: bold;
	}
}

/* Content for the Assessment pages */
.assessment {
	p {
		font-size: 15px;
		&.last-child {
			padding-bottom: 0;
		}
	}
}

/*Terms*/
.assessment--terms-list {
	float:left;
	width:100%;
	padding-bottom:20px;
}
.assessment--terms {
	float:left;
	width:100%;
	p {
		font-size:10px;
		line-height:1.8;
	}
}	