/* 
 * 
 * $Header
 *
**/

header {
	position:relative;
	float:left;
	width:100%;
	padding:20px 0 0;
}

.logo {
	float:left;
	display:block;
	padding:0 0 20px 20px;
	width:194px;
	height:45px;
	img {
		display:block;
		width:100%;
	}
}

.slogan {
	float:right;
	width:255px;
	height:23px;
	padding:20px 20px 0 0;
}


/* Login top section with Portrait */
.login-wrapper-top {
	clear: both;
	float: left;
	width: 100%;
	a {
		float: left;
		display: block;
		padding: 6px 25px 10px 0;
		margin: 10px 20px 5px;
		font-size: 10px;
		color: @brand-colour;
		font-weight: bold;
		span {
			float: left;
			display: inline;
		}
		.icon-portrait-logged-out,
		.icon-portrait-logged-in {
			display: inline;
			width: 16px;
			height: 16px;
		}	
	}
}