/*=========================*/
/*	 Site: 	 Drive Smarter
 /*	 Styles: Dan Webb
 /*	 Date:	 14/09/12
/*=========================*/
/*
 *
 * $Base - Path variables
 *
**/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: top;
}
body {
  line-height: 1;
  color: black;
  background: white;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
header,
section,
article,
footer,
nav {
  display: block;
}
img {
  display: block;
}
.ie6 img {
  width: 100% !important;
}
@media screen and (max-width: 600px), screen and (max-device-width: 480px) {
  html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
  }
}
/* 
 * 
 * $Mixins
 *
**/
/*============
 * Borders 
 * =========== */
.borderline {
  border: 1px solid #92959b;
}
.borderline-top {
  border-top: 1px solid #92959b;
}
/*============
 * Shadows 
 * =========== */
.box-shadow {
  -webkit-box-shadow: 2px 4px 3px -2px rgba(102, 102, 102, 0.7);
  box-shadow: 2px 4px 3px -2px rgba(102, 102, 102, 0.7);
}
.box-shadow-none {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* 
 * 
 * $Colours
 *
**/
/*================*
 * Define colours
 *================*/
/* White */
/* Black */
/* Greys */
/* Blues */
/*Reds*/
/*Greens*/
/* Brand Colour  */
/*============
 * Containers 
 * =========== */
/*==================== */
/* Primary Navigation  */
/*==================== */
/*==================== */
/* Typography		   */
/*==================== */
/*==================== */
/* Forms   			   */
/*==================== */
/*==================== */
/* Users   			   */
/*==================== */
/*================*
 * Lists
 *================*/
/*==================== */
/* Buttons   		   */
/*==================== */
/*================*
 * Assistant
 *================*/
/*================*
 * Progress Bar
 *================*/
/*================*
 * Tables
 *================*/
/*==================*
 * Dashboard Module
 *==================*/
/*==================*
 * Notes
 *==================*/
/*==================== */
/* Errors   		   */
/*==================== */
/*==================== */
/* Footer			   */
/*==================== */
/*
 *
 * $Typography - Base font styles
 *
**/
/* Font Faces */
.font-arial {
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
}
.font-verdana {
  font-family: Verdana, Arial, Helvetica, "Lucida Grande", sans-serif;
}
/* Common Text Sizes */
.type-xsmall {
  font-size: 0.714em;
}
/*10px*/
.type-small {
  font-size: 0.857em;
}
/*12px*/
.type-medium {
  font-size: 1em;
}
/*14*/
.type-large {
  font-size: 1.143em;
}
/*16px*/
.type-xlarge {
  font-size: 1.714em;
}
/*24px*/
.type-giga {
  font-size: 2em;
}
/*28px*/
.type-mega {
  font-size: 2.429em;
}
/*34px*/
body {
  font-family: Verdana, Arial, Helvetica, "Lucida Grande", sans-serif;
  font-size: 14px;
  /* base font size */
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0 0 14px 0;
  color: #666666;
  line-height: 1.4;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 10px;
}
h5 {
  font-size: 10px;
}
p,
a {
  padding: 0 0 14px 0;
  font-size: 11px;
  color: #666666;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
form {
  font-size: 11px;
}
ul,
ol {
  padding: 0 0 14px 0;
}
li {
  list-style: disc;
}
ol {
  padding-left: 40px;
}
ol li {
  margin-bottom: 20px;
}
ol ol li {
  margin-bottom: 0;
}
/*Headings*/
.heading {
  color: #666666;
}
.heading--bold {
  font-weight: bold;
}
.heading--inline {
  float: left;
}
/*Sub Heading*/
.sub-heading {
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  font-size: 1em;
  color: #000000;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 8px;
}
/*Lead intro copy*/
.lead p {
  font-size: 15px;
}
/* Breadcrumbs */
.breadcrumb {
  clear: both;
  float: left;
  padding-bottom: 14px;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  font-size: 0.857em;
  color: #797c82;
  text-decoration: none;
}
.breadcrumb:hover {
  color: #00ccff;
  text-decoration: underline;
}
/*Login link*/
.login-help {
  float: right;
  line-height: 1.8;
}
/* Custom Links */
.link-pdf {
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  font-size: 0.857em;
  color: #000000;
  padding-bottom: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.link-pdf img {
  float: left;
  width: 16px;
  height: auto;
}
.link-pdf span {
  float: left;
  margin: 3px 0 0 5px;
}
/*=========== */
/* Icons      */
/*=========== */
.icon-arrow,
.icon-empty-box,
.icon-portrait-logged-out,
.icon-portrait-logged-in {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/icons/drive-smarter-icon-sprite.gif) 0 0 no-repeat;
  text-indent: -99999px;
}
/* Arrow Icons */
.icon-arrow {
  float: left;
  margin: 3px 3px 0 0;
  background-position: 0 0;
}
.icon-empty-box {
  float: left;
  background-position: 0 -16px;
  margin: 3px 5px 0 0;
}
/* Portrait Icons */
.icon-portrait-logged-out {
  background-position: -16px 0;
}
.icon-portrait-logged-in {
  background-position: -32px 0;
}
.icon-tick {
  display: block;
  border: none;
  text-indent: -99999px;
  overflow: hidden;
  width: 18px;
  height: 18px;
  background: url("/assets/images/icons/icon-sprite-ticks.gif") 0 0 no-repeat;
  margin: 0 auto;
}
.icon-tick:hover {
  border: none;
}
.icon-tick-complete {
  background-position: 0 0;
}
.icon-tick-in-progress {
  background-position: -18px 0;
}
.icon-tick-unstarted {
  background-position: -36px 0;
}
.icon-arrow-right {
  display: block;
  border: none;
  text-indent: -99999px;
  overflow: hidden;
  width: 18px;
  height: 18px;
  background: url("/assets/images/icons/icon-arrow-right.png") 0 0 no-repeat;
}
.icon-arrow-right:hover {
  border: none;
}
.icon-pdf {
  display: block;
  border: none;
  text-indent: -99999px;
  overflow: hidden;
  width: 18px;
  height: 18px;
  background: url("/assets/images/icons/icon-pdf-small.png") 0 0 no-repeat;
}
.icon-pdf:hover {
  border: none;
}
/* 
 * 
 * $Forms
 *
**/
/*Form Field - wrap fields in this container to separate them*/
.form-field {
  float: left;
  width: 100%;
  padding-bottom: 14px;
}
/*Form Profile*/
.form-profile {
  float: left;
  width: 100%;
}
.form-profile--label {
  clear: left;
  float: left;
  width: 25%;
  padding-right: 2%;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.8;
}
.form-profile--label-heading {
  width: 100%;
  padding-bottom: 14px;
  font-size: 12px;
  color: #666666;
}
.form-profile--label-right {
  clear: right;
  width: 93%;
  padding-right: 0;
  padding-left: 2%;
}
.form-profile--label-strong {
  font-size: 12px;
  font-weight: bold;
  color: #666666;
}
.form-profile--label-small {
  font-size: 10px;
  font-weight: normal;
  color: #666666;
}
.form-profile--input {
  float: right;
  width: 70%;
  height: 11px;
  padding: 4px;
  border: 1px solid #0099cc;
  font-size: 10px;
}
.form-profile--input:focus {
  border: 1px solid #000000;
}
.form-profile--input#surname {
  margin-right: 0;
}
.form-profile--input-inline {
  width: 33%;
  margin-right: 2%;
}
.form-profile--input-small {
  float: left;
  width: 40%;
}
.form-profile--input-inline-last {
  margin-right: 0;
}
.form-profile--input-compact {
  margin-bottom: 8px;
}
.form-profile--select {
  clear: right;
  float: left;
  width: 138px;
  font-size: 11px;
}
.form-profile--checkbox {
  float: left;
  width: 3%;
}
/*Hint*/
.form-profile--hint {
  float: right;
  width: 72.5%;
  margin-top: 2px;
  font-size: 10px;
  padding-bottom: 0;
}
/*Required Field star*/
.require {
  color: #9f0002;
  border: none;
}
.opt-in-checkbox-container {
  clear: both;
  width: 100%;
}
.opt-in-checkbox-container .opt-in-checkbox {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
.opt-in-checkbox-container .opt-in-checkbox label {
  float: left;
  display: inline;
  width: 30%;
  text-align: left;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 5px;
  padding-right: 5px;
  line-height: 1.3em;
}
.opt-in-checkbox-container .opt-in-checkbox input {
  float: left;
  width: auto;
  margin-top: 1px;
  height: auto;
}
/*Login Form*/
.form-login {
  padding: 30px 20px;
  zoom: 1;
}
.form-login:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.form-login a:visited,
.form-login a:active,
.form-login a:hover {
  color: #000000;
  text-decoration: underline;
}
.form-login--label {
  float: left;
  width: 30%;
  font-size: 11px;
  margin-right: 2%;
}
.form-login--input {
  float: right;
  width: 57.5%;
  height: 9px;
  padding: 5px 4px;
  font-size: 9px;
  border: 1px solid #92959b;
}
.form-login--forgotten-pw {
  margin-right: 9px;
  line-height: 2;
  text-decoration: underline;
}
.form-login--submit {
  float: right;
  height: 30px;
  height: auto;
  width: auto;
  background: #003366;
  padding: 3px 12px;
  font-size: 11px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}
/*Welcome styles*/
#welcome {
  color: #000000;
  border-style: solid;
  border-width: 5px;
}
#welcome h3 {
  color: #000000;
}
/*Tick Box Container*/
#content-main form .tickbox-container label {
  float: left;
  margin: 0 0px 10px 0;
  width: 350px;
}
#content-main form .tickbox-container input {
  float: left;
  padding-right: 0px;
  margin: 0 24px 10px 0;
}
/*Small Print*/
.smallprint label {
  width: 400px;
  font-size: 30px;
}
/* 
 * 
 * $Lists
 *
 * Styling the lists on the frontend.
 *
**/
.details {
  float: left;
  width: 100%;
  padding-bottom: 10px;
}
.detail {
  float: left;
  width: 100%;
  list-style: none;
  padding-bottom: 3px;
}
.detail:last-child {
  padding-bottom: 0;
}
.detail--label {
  float: left;
  width: 44.067796610169%;
  /*104 / 236*/
  font-size: 0.857em;
  color: #ffffff;
}
.detail--value {
  float: right;
  width: 45%;
  padding-left: 5%;
  font-size: 0.857em;
  color: #ffffff;
}
/* 
 * 
 * $Buttons
 *
**/
.button {
  float: left;
  display: inline;
  height: auto;
  width: auto;
  background: #000000;
  padding: 3px 12px;
  color: #ffffff;
  border: 0;
  font-size: 11px;
  cursor: pointer;
}
.button-play {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 18px;
  height: 18px;
  border: 0;
  background-color: #003366;
  cursor: pointer;
}
.button-play:hover {
  background-color: #999999;
}
.button--right {
  float: right;
}
/*
 *
 * 3 Columns
 *
 *   <div class="l-col3">
 *      <div class="l-col3-col l-col3-col1"></div>
 *      <div class="l-col3-col l-col3-col2"></div>
 *      <div class="l-col3-col l-col3-col3"></div>
 *   </div>
 *
**/
.l-col3 {
  margin: 0 auto;
  width: 100%;
  zoom: 1;
}
.l-col3:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.l-col3-col {
  clear: none;
  float: left;
  width: 29.61962962963%;
  /* 266.66666666666667 / 900 */
  padding-left: 5.555555555556%;
  /* 50 / 900 */
}
.l-col3-col1 {
  padding-left: 0;
}
/* 
 * 
 * $Header
 *
**/
header {
  position: relative;
  float: left;
  width: 100%;
  padding: 20px 0 0;
}
.logo {
  float: left;
  display: block;
  padding: 0 0 20px 20px;
  width: 194px;
  height: 45px;
}
.logo img {
  display: block;
  width: 100%;
}
.slogan {
  float: right;
  width: 255px;
  height: 23px;
  padding: 20px 20px 0 0;
}
.toolbar {
  float: left;
  width: 860px;
  padding: 5px 40px;
}
/* Logged in user */
.toolbar--user {
  font-size: 10px;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 0;
}
.toolbar--user:hover {
  color: #00ccff;
}
/* Main Content Containers */
html,
body {
  background: url("/assets/images/backgrounds/background-body.gif") 0 0 repeat-x #797c82;
}
.wrapper {
  position: relative;
  float: left;
  width: 100%;
}
/*====================================
 * Frequently used containers & boxes  
 * =================================== */
/*  Container classes */
.container {
  clear: both;
  display: block;
  margin: 0 auto;
  max-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  zoom: 1;
}
.container:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.container-terms {
  background: transparent;
}
.page {
  float: left;
  width: 860px;
  min-height: 450px;
  padding: 20px 40px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: top center;
  zoom: 1;
}
.page:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.page--default {
  background-image: url("/assets/images/backgrounds/background-sunset.jpg");
}
.page--homepage {
  background-image: url("/assets/images/backgrounds/background-content.jpg");
}
.page--questions {
  background-image: url("/assets/images/backgrounds/background-spray.jpg");
}
.page--dashboard {
  width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
}
/*Sections*/
section {
  float: left;
  width: 100%;
}
.section--spaced {
  padding-bottom: 30px;
}
/* Main Content Containers */
#content-main {
  float: left;
  display: inline-block;
  width: 476px;
  min-height: 188px;
  -webkit-box-shadow: 2px 4px 3px -2px rgba(102, 102, 102, 0.7);
  box-shadow: 2px 4px 3px -2px rgba(102, 102, 102, 0.7);
}
/* Home page Content box */
#content-main.content-home {
  width: 588px;
  background-color: #ffffff;
}
/* 
 * 
 * $Footer
 *
**/
footer {
  float: left;
  width: 900px;
  padding: 14px 20px;
}
.footer-items {
  float: right;
  padding-bottom: 0;
}
.footer-item {
  float: left;
  padding: 0 10px;
  list-style: none;
  border-right: 1px solid #ffffff;
}
.footer-item:last-child {
  padding-right: 0;
  border-right: 0;
}
.footer-item a:hover {
  color: #00ccff;
}
.footer-item-text {
  display: block;
  color: #ffffff;
  font-size: 11px;
  text-decoration: none;
  padding-bottom: 0;
  line-height: 1.4;
}
/* 
 * 
 * $Navigation
 *
**/
.nav-primary {
  float: left;
  width: 920px;
  padding: 0 10px;
  background: #000000;
}
.nav-primary ul {
  position: relative;
  float: left;
  padding: 0;
  list-style: none;
}
.nav-primary li {
  float: left;
  list-style: none;
}
.nav-primary a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 7px 30px;
}
.nav-primary a:hover {
  color: #000000;
  background-color: #ffffff;
}
.nav-primary .nav-primary--title:hover {
  color: #ffffff;
  background-color: #000000;
}
.nav-link {
  float: right;
}
.sidebar {
  float: right;
  display: inline;
  width: 235px;
}
.sidebar .standard-box {
  width: 100%;
  min-height: 200px;
}
.sidebar .standard-box .standard-box-body {
  min-height: 80px;
}
.sidebar-alt .standard-box .standard-box-body {
  padding: 0;
}
/*========================
 * Terms Of Use popup box  
 * ======================= */
#content-main #terms-of-use {
  position: absolute;
  top: 45px;
  left: 60px;
  width: 380px;
  -webkit-box-shadow: 2px 4px 3px -2px rgba(102, 102, 102, 0.7);
  box-shadow: 2px 4px 3px -2px rgba(102, 102, 102, 0.7);
}
#content-main #terms-of-use .terms-of-use-body {
  overflow: auto;
  height: 130px;
}
#content-main #terms-of-use h3 {
  font-size: 10px;
  background: #000000;
  color: #ffffff;
  padding: 5px 15px;
}
#content-main #terms-of-use h4 {
  font-size: 10px;
  color: #666666;
  padding-bottom: 0;
}
#content-main #terms-of-use p,
#content-main #terms-of-use ul li {
  font-size: 10px;
  color: #666666;
  line-height: 1.4em;
  margin-bottom: 14px;
}
#content-main #terms-of-use p {
  padding-bottom: 0;
}
#content-main #terms-of-use .standard-box-footer a {
  float: left;
  display: inline;
  height: auto;
  width: auto;
  background: #000000;
  padding: 3px 12px;
  color: #ffffff;
  border: 0;
  font-size: 11px;
  cursor: pointer;
}
#termspopup {
  background-color: #ffffff;
}
#termspopup h3,
#termspopup p {
  color: #000000;
}
/*
 *
 * $Box - Consistent box styles
 *
**/
/* white box with green border */
.standard-box {
  float: left;
  width: 100%;
  background: #ffffff;
  border: 1px solid #92959b;
  -webkit-box-shadow: 2px 4px 3px -2px rgba(102, 102, 102, 0.7);
  box-shadow: 2px 4px 3px -2px rgba(102, 102, 102, 0.7);
}
.standard-box .standard-box-header h2,
.standard-box .standard-box-header h3,
.standard-box .standard-box-header h4 {
  font-size: 14px;
  background: #000000;
  color: #ffffff;
  padding: 5px 15px;
}
.standard-box .standard-box-header h2 a,
.standard-box .standard-box-header h3 a,
.standard-box .standard-box-header h4 a {
  display: block;
  padding-bottom: 0;
  color: #ffffff;
  font-size: 14px;
}
.standard-box .standard-box-header h2 a span,
.standard-box .standard-box-header h3 a span,
.standard-box .standard-box-header h4 a span {
  margin-top: 4px;
}
.standard-box .standard-box-body {
  zoom: 1;
  min-height: 150px;
  padding: 20px;
}
.standard-box .standard-box-body:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* green box with no border */
#content-main.standard-box-alt {
  background: #ffffff;
  border: 1px solid #92959b;
  min-height: 200px;
}
/* No container boxes - Blank page (for terms & policies etc.) */
#content-main.standard-box-blank {
  float: none;
  position: relative;
  width: 740px;
  background: #ffffff;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 0;
  margin: 0 80px;
}
#content-main.standard-box-blank p,
#content-main.standard-box-blank a {
  font-size: 12px;
}
#content-main.standard-box-blank h2 {
  color: #000000;
}
/* commonly used footer for containers */
.standard-box-footer {
  float: left;
  width: 94%;
  padding: 10px 3%;
  border-top: 1px solid #92959b;
}
/* brand colour alternative footer */
.standard-box-alt-footer {
  border-top: 1px solid #ffffff;
}
.standard-box-alt-footer .standard-box-alt-footer-inner {
  float: right;
}
/*Page/Box Navigation*/
.nav-page {
  float: right;
}
/* 
 * 
 * $Errors
 *
 * For validation and error messages
 *
**/
.input-validation-error {
  display: inline;
}
.validation-summary-errors {
  clear: both;
  float: left;
  max-width: 200px;
  margin-top: 0px;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 11px;
  color: #9f0002;
  font-weight: bold;
}
.forgottenlink {
  float: left;
  font-size: 10px;
  margin-top: 2px;
}
.field-validation-error {
  display: none;
  color: #ff0000;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  display: none;
}
.validation-summary-errors {
  width: 220px;
  font-weight: bold;
  color: #ff0000;
}
.validation-summary-valid {
  display: none;
}
/*
 *
 * $Assessment - Assessment related modules 
 *
**/
.assessment--link {
  font-size: 15px;
  text-decoration: underline;
}
.assessment-header {
  float: left;
  width: 100%;
}
.assessment-body {
  float: left;
  width: 100%;
}
/*Assessment Terms*/
.assessment--terms-list {
  float: left;
  width: 100%;
  padding-bottom: 20px;
}
.assessment--terms {
  float: left;
  width: 100%;
}
.assessment--terms p {
  font-size: 10px;
  line-height: 1.8;
}
/*Assessment Status*/
.assessment-status {
  float: left;
}
.assessment-status--right {
  float: right;
}
.assessment-status--link {
  text-decoration: underline;
}
.assessment-status--text {
  font-size: 15px;
  line-height: 1.4;
}
/*Assessment begin link*/
/*Assessment List*/
.assessment-list {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0 0 30px;
}
.assessment-list li {
  float: left;
  width: 100%;
  padding-bottom: 2px;
  font-size: 13px;
  color: #666666;
}
.assessment-list--label {
  float: left;
  width: 34%;
  font-weight: bold;
}
.assessment-list--value {
  float: left;
  width: 60%;
  padding-left: 3%;
}
/* 
 * 
 * $Intro
 *
 * The Dashboard intro section
 *
**/
.intro {
  clear: left;
  float: left;
  width: 64.7%;
  padding-bottom: 10px;
}
.intro p {
  font-size: 1em;
  color: #333333;
}
.intro-compact {
  width: 455px;
}
.intro--heading {
  padding-bottom: 8px;
  font-size: 1.714em;
  color: #003366;
  font-weight: bold;
  line-height: 1;
}
.intro--heading-large {
  font-size: 2em;
}
/* 
 * 
 * $Assistant
 *
 * The assistant block -
 * containing help, status, links
 * and short profile details.
 *
**/
.assistant {
  float: right;
  width: 236px;
  min-height: 105px;
  padding: 12px 10px;
  background-color: #000000;
}
.assistant p {
  font-size: 12px;
  color: #ffffff;
}
.assistant p:last-child {
  padding-bottom: 0;
}
.assistant--heading {
  font-size: 1em;
  padding-bottom: 10px;
  color: #00ccff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}
.assistant--link {
  clear: both;
  float: right;
  padding-bottom: 0;
  font-size: 0.857em;
  color: #00ccff;
  text-decoration: underline;
  text-transform: uppercase;
}
/* 
 * 
 * $Progress
 *
 * Jquery UI progress bar
 *
**/
.progress {
  position: relative;
  float: left;
  width: 61.111111111111%;
  /*550 / 900*/
  padding-bottom: 20px;
}
.progress-label {
  float: left;
  margin-right: 7px;
  font-size: 0.857em;
  color: #999999;
  font-weight: bold;
  line-height: 2.2;
}
.progress-value {
  position: absolute;
  left: 50%;
  top: 7px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  z-index: 1;
}
.ui-progressbar {
  position: relative;
}
.ui-widget {
  font-size: 0.857em !important;
}
/* 
 * 
 * $DataTable
 *
 * The styles for the data tables on the dashboard.
 *
**/
/* Tab jquery ui overrides */
.ui-tabs {
  margin-bottom: 20px;
}
.ui-tabs-anchor {
  font-size: 1em;
  font-weight: bold;
}
.data-table {
  width: 100%;
  margin-bottom: 20px;
}
.data-table th {
  padding: 12px;
  color: #003366;
  font-weight: bold;
  text-align: center;
}
.data-table td {
  padding: 12px 0;
  text-align: center;
}
.data-table td p,
.data-table td a {
  line-height: 1.6;
}
.data-table td p {
  color: #333333;
  padding-bottom: 0;
}
.data-table td a {
  color: #003366;
  /*Have to remove jquery anchor styles*/
  text-decoration: underline;
}
.data-table td a:hover {
  color: #00ccff;
}
.data-table th,
.data-table td {
  border-bottom-style: solid;
  border-bottom-color: #003366;
}
.data-table th {
  border-bottom-width: 2px;
}
.data-table td {
  border-bottom-width: 1px;
}
.data-table--driver-profile td p,
.data-table--driver-profile td a {
  font-size: 11px;
}
.data-table--driver-profile .t-col1 {
  width: 18px;
}
.data-table--driver-profile .t-col2 {
  width: 110px;
}
.data-table--driver-profile .t-col3 {
  width: 240px;
}
.data-table--driver-profile .t-col4 {
  width: 42px;
}
.data-table--driver-profile .t-col5 {
  width: 42px;
}
.data-table--driver-profile .t-col6 {
  width: 42px;
}
.data-table--driver-profile .t-col7 {
  width: 88px;
}
.data-table--driver-profile .t-col8 {
  width: 166px;
}
.data-table--driver-reports td p,
.data-table--driver-reports td a {
  font-size: 12px;
}
.data-table--driver-reports .t-col1 {
  width: 18px;
}
.data-table--driver-reports .t-col2 {
  width: 110px;
}
.data-table--driver-reports .t-col3 {
  width: 240px;
}
.data-table--driver-reports .t-col4 {
  width: 120px;
}
.data-table--driver-reports .t-col5 {
  width: 166px;
}
.data-table--download {
  display: block;
  margin: 0 auto;
  padding-bottom: 0;
  width: 18px;
}
/* 
 * 
 * $DashboardModule
 *
**/
.dash-mod {
  position: relative;
  overflow: hidden;
  float: left;
  width: 225px;
  padding: 20px;
  border: 1px solid #797c82;
  cursor: pointer;
  text-decoration: none;
}
.dash-mod:hover {
  color: #666666;
  text-decoration: none;
}
.dash-mod--heading {
  float: left;
  width: 100%;
  padding-bottom: 10px;
  font-size: 28px;
  color: #00ccff;
  text-transform: uppercase;
  font-weight: bold;
}
.dash-mod--heading:hover {
  color: #00ccff;
}
.dash-mod--icon {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}
.dash-mod--action {
  clear: both;
  float: left;
  padding-bottom: 10px;
  font-size: 14px;
  color: #003366;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.1;
}
.dash-mod--status-label {
  float: left;
  width: 100%;
  padding-bottom: 5px;
  font-size: 12px;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
}
.dash-mod--status-complete {
  color: #305e02;
}
.dash-mod--status-incomplete {
  color: #9f0002;
}
.dash-mod--link {
  text-decoration: underline;
}
.dash-mod--text {
  clear: both;
  float: left;
  width: 100%;
  color: #333333;
  font-size: 12px;
  line-height: 1.1;
}
.dash-mod--overlay {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-position: 50% 38%;
  background-repeat: no-repeat;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.dash-mod--overlay-video {
  background-image: url("/assets/images/icons/icon-video-white.png");
}
.dash-mod--overlay-notes {
  background-image: url("/assets/images/icons/icon-document-white.png");
}
.dash-mod--overlay-test {
  background-image: url("/assets/images/icons/icon-pencil-white.png");
}
.dash-mod--video {
  background-position: 50% 40%;
}
.dash-mod--video:hover .dash-mod--overlay-video {
  right: 0;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.dash-mod--notes:hover .dash-mod--overlay-notes {
  right: 0;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.dash-mod--test {
  background-position: 50% 40%;
}
.dash-mod--test:hover .dash-mod--overlay-test {
  right: 0;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.dash-mod--overlay-text {
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
}
.dash-mod--overlay-text-video {
  top: 61%;
}
.dash-mod--overlay-text-notes {
  top: 64%;
}
.dash-mod--overlay-text-test {
  top: 62%;
}
/* 
 * 
 * $Notes
 *
**/
.notes {
  float: left;
  width: 64.5%;
}
.notes--list {
  float: left;
  width: 100%;
  padding-bottom: 0;
}
.notes--list li {
  padding-bottom: 14px;
  padding-left: 0;
  margin-left: 16px;
  font-size: 14px;
  line-height: 1;
}
.notes--heading {
  padding-bottom: 10px;
  margin-bottom: 14px;
  font-size: 1.143em;
  color: #003366;
  font-weight: bold;
  border-bottom: 2px solid #003366;
}
/* 
 * 
 * $Dialog
 *
 * The popup dialog box
 *
**/
.ui-widget-overlay {
  background-image: none !important;
}
/*==================== */
/* Spacing			   */
/*==================== */
.standard-padding {
  padding: 20px;
}
.heading-padding {
  padding: 5px 15px;
}
.no-padding {
  padding: 0;
}
.last {
  margin: 0;
}
/*
 *
 * $Temporary
 *
 * For hot fixes.
 * If you need to quickly apply something, do it here.
 * This can then be put into the proper LESS file later.
 *
**/
#content-main form .tree2 {
  color: #000000;
  width: 270px;
}
#content-main form .tree2 li {
  padding-top: 10px;
}
#content-main .Question {
  color: #000000;
}
#content-main form input:focus {
  border: 1px solid #000000;
}
#content-main form input#surname {
  margin-right: 0;
}
#content-main form .address-container {
  float: left;
  width: 100%;
}
#content-main form .address-container input {
  float: right;
  width: 74.3%;
  margin: 0 24px 10px 0;
}
#content-main form .form-content {
  float: left;
}
#content-main form .standard-box-footer input[type="submit"] {
  float: left;
  display: inline;
  height: auto;
  width: auto;
  background: #000000;
  padding: 3px 12px;
  color: #ffffff;
  border: 0;
  font-size: 11px;
}
#content-main .Question {
  font-size: 12px;
  width: 400px;
  color: #666666 ;
  margin-bottom: 20px;
}
#content-main .MvcDynamicListFieldInputLabel {
  padding: 2px 1em 0 0;
  padding-left: 10px;
  color: #666666;
  width: 300px;
  font-size: 12px;
}
#content-main input[type=radio],
input.radio {
  margin: 2px 0 0 2px;
}
#content-main .MvcDynamicVertical {
  padding-top: 10px;
  width: 450px;
}
#content-main .MvcDynamicVertical li {
  padding-top: 5px;
}
#content-main #Save {
  margin-right: 235px;
}
#content-main #Back {
  text-align: right;
  margin-right: 10px;
}
#content-main .MvcDynamicFieldError {
  font-size: 12px;
  width: 400px;
  clear: both;
  color: Red;
  font-weight: normal;
}
